// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
 html {
  background-color: $bg-color-body;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-family: Roboto;
  font-weight: 700;
}

body {
  //font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  font-size: calc(16px + (50 - 16) * ((100vw - 300px) / (2000 - 300)));
}

h1,p {
  text-align: center;
}
/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;
}
